# Compiled Binaries
bin/
*.o
*.out

# Data and Results
data/test_*/
data/grid_*/
*.bin
*.npz

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# OS Specific
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.log
tmp/

# LaTeX
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.xdv


.geminiignore

report/*.pdf